# Dependências do Node
node_modules/

#package lock
package-lock.json

# Variáveis de ambiente
.env

# Arquivos de Migração e Dados Sensíveis da Superzon
planilha.json
migracao.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*